datasets

pretrains/eeg_pretrain
pretrains/models/v1-5-pruned.ckpt
pretrains/generation

results
res_test
test_save_path

exps

lightning_logs

dreamdiffusion.yml

alstons_code/bnci_split
alstons_code/processed
alstons_code/bnci2014_001.npy
alstons_code/zhou2016.npy

*.pyc